/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    padding: 16px;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
}
.next {
    right: 0;
}

